html
    head
        title Auth Gateway
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

    body
        div.container
            div.row
                div.col-sm-6.col-sm-offset-3
                    block header
                    if (messages.error)
                        div.alert.alert-danger
                            ul
                                each val in messages.error
                                    li= val
                    block content