extends layout.pug

block header
    h1 Please Login

block content
    form(action="/login", method="post")
        div.form-group
            label.control-label Email:
            input.form-control(name="email")
        div.form-group
            label.control-label Password:
            input.form-control(type="password", name="password")
        div.form-group
            div.btn-toolbar
                button.btn.btn-primary Login
                a.btn.btn-link(href="/register") Or Register
